@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(79, 111, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* index */
section .headers {
    display: flex;
    max-width: 600px;
    margin: auto;
    text-align: left;
    justify-content: center;
}

section .headers img {
    max-width: 180px;
    border-radius: 50%;
}

/* Rekam */
.rekam {
    position: absolute;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin-bottom: 50px;
}

.rekam header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 1001;
}

.rekam .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .kategori-box {
    margin-top: 20px;
}

.kategori-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.kategori-option, .kategori) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .kategori {
    column-gap: 5px;
}

.form :where(.kategori input, .kategori label) {
    cursor: pointer;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(79, 111, 82);
}

.form button:hover {
    background-color: rgb(26, 77, 46);
}

@media screen and (max-width: 500px) {
    .form :where(.kategori-option, .kategori) {
        row-gap: 15px;
    }
}

/* Edit */
.edit {
    position: absolute;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.edit header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.edit .form {
    margin-top: 30px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    text-align: left    ;
}

/* Cari */
.cari {
    position: absolute;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cari header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.cari .form {
    margin-top: 30px;
}